<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="description" content="alphasec">
      <meta name="author" content="alphasec">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>alphasec</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      <link rel="stylesheet" href="static/css/styles.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap">
      <link rel="icon" href="static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="row">
      <h1 class="h1">alphasec</h1>
    </div>
    <div class="row">
      <div>
      </div>
    </div>
    <div class="row">
      <span class="text-muted small">alphasec © 2024. All rights reserved.</span>
    </div>
  </body>
</html>
